* {
  margin: 0;
}

.visible {
  opacity: 1;
}

body {
  color: white;
  background-color: #000;
  overflow-x: hidden;
}

.h-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-image: url("public/ito-jakuchu-birds.avif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 640px, auto;
}

.green {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff0000;
}

.green,
.icon {
  animation: morph 0.6s infinite alternate;
}

@keyframes morph {
  0% {
    border-radius: 0%;
  }
}

.col {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: white;
  margin-inline: 0.5rem;
  position: fixed;
  z-index: 1;
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-inline: 2rem;
}

.bottom {
  position: sticky;
  top: 0;
  margin-inline: 0.5rem;
  padding-top: 1px;
}

.top,
.bottom,
nav {
  background-color: rgba(0, 0, 0, 0);
}

a {
  color: red;
}
